apiVersion: v1
data:
  prometheus.yml: |-
    global:
      scrape_interval: 1s
      evaluation_interval: 1s

    scrape_configs:
      - job_name: local
        scrape_interval: 1s
        metrics_path: /metrics
        static_configs:
          - targets:
            - shibuya-api-local:8080
kind: ConfigMap
metadata:
  name: prometheus
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: prometheus
  name: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
      - image: prom/prometheus:v2.5.0
        name: prometheus
        ports:
          - containerPort: 9090
        volumeMounts:
          - name: config
            mountPath: /etc/prometheus/
      volumes:
        - name: config
          configMap:
            name: prometheus
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: prometheus
  name: prometheus
spec:
  ports:
  - port: 9090
    protocol: TCP
    targetPort: 9090
  selector:
    app: prometheus
